{% extends "base.html" %} {% block titulo %} Lista Usuarios {% endblock
%} {% block contenido_principal %}
<h2>Lista Usuarios</h2>

<!-- Busqueda -->
<div class="row">
	<div id="custom-search-input ">
		<form method="get" action="/listUsers">
			<div
				class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
				<input type="text" class="search-query form-control"
					placeholder="Nombre o email del usuario" name="busqueda" /> <span
					class="input-group-btn">
					<button class="btn" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>


<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
			{% for usuarios in usuarios %}
			<tr>
				<td>{{ usuarios.name }}</td>
				<td>{{ usuarios.email }}</td>
				<td><a class="btn btn-primary pull-right" href="/">Agregar
						amigos</a> <br></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="row text-center">
	<ul class="pagination">
		<!-- Primera -->
		<li class="page-item"><a class="page-link" href="/listUsers?pg=1">Primera</a>
		</li>
		<!-- Anterior (si la hay ) -->
		{% if pgActual-1 >= 1 %}
		<li class="page-item"><a class="page-link"
			href="/listUsers?pg={{ pgActual -1 }}">{{ pgActual -1 }}</a></li> {% endif
		%}
		<!-- Actual -->
		<li class="page-item active"><a class="page-link"
			href="/listUsers?pg={{ pgActual }}">{{ pgActual }}</a></li>
		<!-- Siguiente (si la hay) -->
		{% if pgActual+1 <= pgUltima %}
		<li class="page-item"><a class="page-link"
			href="/listUsers?pg={{ pgActual+1 }}">{{ pgActual+1 }}</a></li> {% endif
		%}
		<!-- Última -->
		<li class="page-item"><a class="page-link"
			href="/listUsers?pg={{ pgUltima }}">Última</a></li>
	</ul>
</div>

{% endblock %}
